{
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 60,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true
}